.App {
  text-align: center;
  background-color: rgb(32, 29, 29);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.card {
  /* margin-left: 250px; */
  border-radius: 20;
  justify-content: space-evenly;
}
.heading {
  color: rgb(40, 218, 218);
  padding: 5px;
}
.text {
  color: rgb(126, 85, 205);
}
.table {
  box-sizing: border-box;
  margin-bottom: 0rem;
}
.txt-color {
  color: rgb(82, 192, 196) !important;
  font-weight: bold;
  font-size: 25px;
  text-align: left;
}
.table-color {
  border: transparent;
  box-shadow: 0px 0px 8px 0px rgb(126, 85, 205);
}
.icon-image {
  border-radius: 50%;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card-pos {
  background-color: transparent !important;
  display: inline-block;
  vertical-align: middle;
}
.card-login {
  background-color: transparent !important;
  display: block;
  margin: 0 auto;
}
.center-div {
  background-color: #1a003b !important;
  padding: 5px;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgb(39 23 63) !important;
}

.logo-img {
  margin-top: 15px;
}
.form-right {
  float: right;
}
.pos-right {
  text-align: right;
}
/* .float-right{
    float: right;
      } */
.p0 {
  padding: 0px !important;
}
.swal2-actions .swal2-confirm {
  margin-right: 20px;
}
.required-field::after {
  content: "*";
  color: red;
  margin-left: 2px;
}
.login-bg {
  background-color: #1a003b;
  height: calc(100vh - 10px);
  overflow-x: hidden;
}
